<div id="JoinModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>PLAY DFS</h3>
			</div>
			<div class="modal-body">
				<p>You can specify how much credits you want to use in DFS.</p>
				<div class="form-group">
					<input type="number" class="form-control" style="text-align: center" />
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary">Start Playing</button>
			</div>
		</div>
		
		
	</div>
</div>


<div id="addCreditModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Add Credits to your DFStars Account</h3>
			</div>
			<div class="modal-body">
				<div class="">
					<div id="addForm" class="form-group">
						<p>You can specify how much credits you want to add in your DFStars account.</p>
						<input id="addAmount" type="number" class="form-control" style="text-align: center" />
					</div>
				</div>
				<div id="addSuccess" style="display: none;" class="alert alert-success">
					You have successfully transfered <span id="addAmountValue"></span> ! <a href="/dfs/auth">Click here to go to DFStars!</a>
				</div>
			</div>
			<div class="modal-footer">
				<button id="transferBtn" class="btn btn-primary">Transfer</button>
			</div>
		</div>
		
		
	</div>
</div>